#board{width:600px;height:600px;margin:0 auto; background:url(board.png);}
#board_check{width:600px;height:600px;margin:0 auto; background:url(board_check.png);}
.box{width:75px;float:left;height:75px;}
.available{background:#0012ff; opacity:.9; cursor:pointer;}
.available:hover{opacity:.3; cursor:pointer;}
.available_attack{background:#ff0000; opacity:.9; cursor:pointer;}
.available_attack:hover{background:#ff0000; opacity:.3; cursor:pointer;}
.available_castle{background:#f6ff65; opacity:.9; cursor:pointer;}
.available_castle:hover{background:#f6ff65; opacity:.3; cursor:pointer;}
.piece{cursor:pointer;}

.w_pawn{background:url(w-pawn.png) center center no-repeat; width:75px;height:75px;}
.w_rook{background:url(w-rook.png) center center no-repeat; width:75px;height:75px;}
.w_bishop{background:url(w-bishop.png) center center no-repeat; width:75px;height:75px;}
.w_king{background:url(w-king.png) center center no-repeat; width:75px;height:75px;}
.w_queen{background:url(w-queen.png) center center no-repeat; width:75px;height:75px;}
.w_knight{background:url(w-knight.png) center center no-repeat; width:75px;height:75px;}

.b_pawn{background:url(b-pawn.png) center center no-repeat; width:75px;height:75px;}
.b_rook{background:url(b-rook.png) center center no-repeat; width:75px;height:75px;}
.b_bishop{background:url(b-bishop.png) center center no-repeat; width:75px;height:75px;}
.b_king{background:url(b-king.png) center center no-repeat; width:75px;height:75px;}
.b_queen{background:url(b-queen.png) center center no-repeat; width:75px;height:75px;}
.b_knight{background:url(b-knight.png) center center no-repeat; width:75px;height:75px;}